<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzq4zJNXBVRVbBK0lRu-LXG4ZVzY_x2JY</string>
	<key>GCM_SENDER_ID</key>
	<string>941248607060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.alexrybachev.MovieForToday</string>
	<key>PROJECT_ID</key>
	<string>moviefortoday-2ade4</string>
	<key>STORAGE_BUCKET</key>
	<string>moviefortoday-2ade4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941248607060:ios:5f16a96edb330a875bcec1</string>
</dict>
</plist>